input {
    background-color: transparent !important;
}
.card-login {
    width: 30%;
    margin-left: calc(50% - (30%/2));
}

.card-ReserveClassRooms{
    width: 40%;
    margin-left: calc(50% - (40%/2));
}

.labelReserveClassRoom {
    font-size: 1rem;
    margin-top: 6px;
    float: right;
}

.btn {
    border-radius: 0;
}