

.header{
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}

.header .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header .header-limiter h1{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header .header-limiter nav a{
	font-size: 16px;
	display: inline-block;
	padding: 0 10px;
	opacity: 0.9;
	text-decoration:none;
	line-height: 1;
}

.header .header-limiter nav a:first-child{
padding-left:0px;
}

.header .header-limiter nav a:hover {
	opacity: 1;
}

.header .header-limiter nav a.selected {
	color: #608bd2;
}

/* Login/Sign up buttons */

.header .header-limiter ul {
	font: 18px Arial, Helvetica, sans-serif;
	list-style: none;
	line-height: 35px;
	float: right;
}

.header .header-limiter ul li {
	display: inline-block;
	margin-left: 15px;
	opacity:0.9;
}

.header .header-limiter ul li:hover{
	opacity: 1;
}

/* The sign up button */

.header .header-limiter ul li:last-child a {
	font-weight: bold;
	padding: 10px 15px;
	border-radius: 3px;
	background-color: #8f8e8e;
}



/* Making the header responsive */

@media all and (max-width: 600px) {

	.header {
		padding: 25px;
		height: 85px;
	}

	.header .header-limiter h1 {
		float: none;
		margin: -8px 0 2px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header .header-limiter nav {
		margin: 0;
		float: none;
	}

	.header .header-limiter nav li a {
		font-size: 13px;
	}

	.header .header-limiter ul {
		display: none;
	}

}

/* The user menu */

.header .header-limiter .header-user-menu{
	position: relative;
	float:right;
	background-color:#3a3c3e;
	width:80px;
	height:40px;
	border-radius:2px;
}

.header .header-limiter .header-user-menu:before{
	content:'';
	width:0;
	height:0;
	top: 18px;
	right: 15px;
	position:absolute;
	border:5px solid transparent;
	border-top-color:#fff;
}

.header .header-limiter .header-user-menu ul{
	display: none;
	font:bold 13px Arial, Helvetica, sans-serif;
	background-color: #676666;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 110px;
	top: 40px;
	right: 0px;
	padding: 10px 10px 10px 0px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}


.header .header-user-menu:active ul,
.header .header-user-menu:hover ul,
.header .header-user-menu.show ul{
	display:block;
}



.header .header-user-menu ul li{
	padding:8px;
}

.header .header-user-menu ul li:hover{
	background-color: #3a3838
}

.header .header-user-menu ul li a:hover{
	opacity:0.9;
}

.header .header-user-menu ul li a.highlight{
	color:#e9ac09;
	background-color: transparent;
}

.header .header-user-menu img{
	border-radius:50%;
	position:absolute;
	top:6px;
	max-width: 28px;
	left:10px;
}

/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
	margin:0;
	padding:0;
}