input {
    background-color: transparent !important;
}
.card-login {
    width: 30%;
    margin-left: calc(50% - (30%/2));
}

.card-ReserveClassRooms{
    width: 50%;
    margin-left: calc(50% - (40%/2));
}

.labelReserveClassRoom {
    font-size: 1rem;
    margin-top: 6px;
    float: right;
}

.card-profile {
    width: 35%;
    margin-left: calc(50% - (35%/2));
    margin-bottom: 50px;
    margin-top: 50px;
}

.modify-profile {
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    border-radius: 0;
}

.tweetsContainer {
    padding-top: 5px;
    width: 100%;
    height: auto;
    padding: 5px;
    box-shadow: 1px 1px 2px grey;
    margin-top: 5px;
    margin-bottom: 15px;
}

.tweet-user-info, .tweet-user-data, .tweet-user-img {
    display: inline-block;
}

.tweet-user-img {
    margin-bottom: 21px;
}

.tweet-user-data {
    margin-left: 5px;
}

.tweets-body {
    overflow-y: scroll;
}

.thead-blue th {
    color: #fff;
    background-color:blue;
    border-color: blue;
  }