input {
    background-color: transparent !important;
}
.card-login {
    width: 30%;
    margin-left: calc(50% - (30%/2));
}

.card-ReserveClassRooms{
    width: 50%;
    margin-left: calc(50% - (40%/2));
}

.labelReserveClassRoom {
    font-size: 1rem;
    margin-top: 6px;
    float: right;
}

.card-profile {
    width: 35%;
    margin-left: calc(50% - (35%/2));
    margin-bottom: 50px;
    margin-top: 50px;
}

.modify-profile {
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    border-radius: 0;
}