{% extends "layout.html" %}
{% block content %}

<h3 class="text-center font-weight-bold pt-5">Editar Perfil</h3>
<div class="row modify-profile" >
    <!--Foto de perfil-->
    <div class="col-lg-4 col-sm-12 mb-4">
        <div class="card shadow">

        <div class="py-3 w-100 blue text-center">
            <h4 class="card-title pt-2 pb-0 mb-2 text-white font-weight-bold">Foto de perfil</h5>
        </div>
        <div class="position-relative">
          <div class="h-50 w-100 blue position-absolute text-white text-center">
          </div>
          <!-- Card image -->
          <div class="w-50 mx-auto position-relative ">

              <img class="card-img-top avatar imagen" src="../static/img/avatar.png" alt="Card image">
       </div>
        </div>
        <!-- Card body -->
        <div class="card-body text-center mb-3">
          <div class="text-center d-inline-block pt-5">
              <input class="btn-sm" type="file" id="file" onchange="readURL(this);"/>
          </div>
        </div>
    </div>
    </div>
  
    
  

    <!-- Informacion personal -->
    <div class="col-lg-4 col-sm-12">
      <div class="card mb-4">
        <div class="card-tittle py-3 w-100 text-center blue">
            <h4 class="card-title pt-2 pb-0 mb-2 text-white font-weight-bold">Información Personal</h5>
        </div>
        <div class="card-body">
        <form method="POST" action="">
        {{ form.hidden_tag()}}
        <label for="Nombre">Nombre: </label>
            {{ form.nombre(class="form-control mb-4", placeholder="Nombre", value=usr_data['nombre']) }}
        <label for="Apellido">Apellido: </label>
            {{ form.apellido(class="form-control mb-4", placeholder="Apellido", value=usr_data['apellido']) }}
        <label for="Username">Nombre de usuario: </label>
            {{ form.username(class="form-control mb-4", placeholder="Ingrese un nombre de usuario", value=usr_data['username']) }}
        <label for="Correo">Correo: </label>
            {{ form.email(class="form-control mb-4", placeholder="Correo", value=usr_data['email']) }}
        <label for="tlf">Teléfono: </label>
            {{ form.telefono(class="form-control mb-4", placeholder="Teléfono", value=usr_data['telefono']) }}
        <label for="direccion">Dirección: </label>
           {{ form.direccion(class="form-control", placeholder="Dirección", value=usr_data['direccion']) }}  
        <div class="text-center mb-4">
            {{ form.actualizar(class="btn btn-primary" )}}
        </div>
      <!--
	  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" onclick=updatedb()>
        Actualizar Datos
      </button>
        <label for="Nombre">Nombre: </label>
      <input type="text" class="form-control mb-4" id="Nombre" placeholder="Nombre" value="{{usr_data['nombre']}}"></input>

      <label for="Apellido">Apellido: </label>
      <input type="text" class="form-control mb-4" id="Apellido" placeholder="Apellido" value="{{usr_data['apellido']}}"></input>

      <label for="Correo">Correo: </label>
      <input type="text" class="form-control mb-4" id="Correo" placeholder="example@example.com" value="{{usr_data['email']}}"></input>

      <label for="tlf">Teléfono: </label>
      <input type="text" class="form-control mb-4" id="tlf" placeholder="Ingrese su número de teléfono" value="{{usr_data['telefono']}}"></input>

      <label for="direccion">Dirección: </label>
      <textarea class="form-control" id="direccion" rows="3" placeholder="Ingrese su dirección de residencia"></textarea>

      <div class="text-center pt-4 mb-3">-->
      </form>
            </div>
        </div>
      </div>
    </div>
    

    <!-- Contraseña -->
    <div class="col-lg-4 col-sm-12">
      <div class="card mb-4">
        <div class="card-tittle py-3 w-100 text-center blue">
          <h4 class="card-title pt-2 pb-0 mb-2 text-white font-weight-bold">Modificar Contraseña</h5>
        </div>
        <div class="card-body">
          <label for="InputPassword">Contraseña Antigua: </label>
          <input type="password" class="form-control mb-4" id="InputPassword" placeholder="Contraseña"></input>

          <label for="InputPassword">Nueva Contraseña</label>
          <input type="password" class="form-control mb-4" id="InputPassword" placeholder="Contraseña"></input>

          <label for="InputPassword">Nueva Contraseña</label>
          <input type="password" class="form-control mb-4" id="InputPassword" placeholder="Contraseña"></input>

          <div class="text-center mb-3">
            <!-- Modal Usuario no registrado -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel2">Confirmación</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	      </div>
	      <div class="modal-body">
		Se ha actualizado éxitosamente.
	      </div>
	      <div class="modal-footer">
		<button onclick="#" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="text-center mt-4 mb-4">
	  <!-- Button trigger modal -->
	  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
	    Actualizar Contraseña
	  </button>
	</div>

          </div>
        </div>
      </div>
    </div>
   
</div>

  <!-- Cambiar imagen -->
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#imagen')
            .attr('src', e.target.result)
            .css("width","100%")
            .css("height","20%")
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
{% endblock content %}
