{% extends "layout.html" %}
{% block content %}

<h3 class="text-center font-weight-bold pt-5">Editar Perfil</h3>
<div class="row modify-profile" >
    <!--Foto de perfil-->
    <div class="col-lg-4 col-sm-12 mb-4">
        <div class="card shadow">

        <div class="py-3 w-100 blue text-center">
            <h4 class="card-title pt-2 pb-0 mb-2 text-white font-weight-bold">Foto de perfil</h5>
        </div>
        <div class="position-relative">
          <div class="h-50 w-100 blue position-absolute text-white text-center">
          </div>
          <!-- Card image -->
          <div class="w-50 mx-auto position-relative ">
            <img class="card-img-top" src="../static/img/perfil.jpg" alt="Card image">
          </div>
        </div>
        <!-- Card body -->
        <div class="card-body text-center mb-3">
          <div class="text-center d-inline-block pt-5">
              <button type="button" class="btn btn-outline-primary  btn-sm">Seleccionar foto</button>
              <button type="button" class="btn btn-primary btn-sm">Actualizar foto</button> 
          </div>
        </div>
    </div>
    </div>
  
  
    <!-- Informacion personal -->
    <div class="col-lg-4 col-sm-12">
      <div class="card mb-4">
        <div class="card-tittle py-3 w-100 text-center blue">
            <h4 class="card-title pt-2 pb-0 mb-2 text-white font-weight-bold">Información Personal</h5>
        </div>
        <div class="card-body">
            <label for="InputPassword">Nombre: </label>
            <input type="password" class="form-control mb-4" id="InputPassword" placeholder="Nombre"></input>

            <label for="InputPassword">Apellido: </label>
            <input type="password" class="form-control mb-4" id="InputPassword" placeholder="Apellido"></input>

            <label for="InputPassword">Correo: </label>
            <input type="password" class="form-control mb-4" id="InputPassword" placeholder="example@example.com"></input>

            <label for="InputPassword">Teléfono: </label>
            <input type="password" class="form-control mb-4" id="InputPassword" placeholder="Escuela"></input>

            <label for="InputPassword">Dirección: </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

            <div class="text-center pt-4 mb-3">
               <!-- Modal Usuario no registrado -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel2">Confirmación</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	      </div>
	      <div class="modal-body">
		Se ha actualizado éxitosamente.
	      </div>
	      <div class="modal-footer">
		<button onclick="#" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="text-center mt-4 mb-4">
	  <!-- Button trigger modal -->
	  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
	    Actualizar Datos
	  </button>
	</div>
            </div>
        </div>
      </div>
    </div>
    

    <!-- Contraseña -->
    <div class="col-lg-4 col-sm-12">
      <div class="card mb-4">
        <div class="card-tittle py-3 w-100 text-center blue">
          <h4 class="card-title pt-2 pb-0 mb-2 text-white font-weight-bold">Modificar Contraseña</h5>
        </div>
        <div class="card-body">
          <label for="InputPassword">Contraseña Antigua: </label>
          <input type="password" class="form-control mb-4" id="InputPassword" placeholder="Contraseña"></input>

          <label for="InputPassword">Nueva Contraseña</label>
          <input type="password" class="form-control mb-4" id="InputPassword" placeholder="Contraseña"></input>

          <label for="InputPassword">Nueva Contraseña</label>
          <input type="password" class="form-control mb-4" id="InputPassword" placeholder="Contraseña"></input>

          <div class="text-center mb-3">
            <!-- Modal Usuario no registrado -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel2">Confirmación</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	      </div>
	      <div class="modal-body">
		Se ha actualizado éxitosamente.
	      </div>
	      <div class="modal-footer">
		<button onclick="#" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="text-center mt-4 mb-4">
	  <!-- Button trigger modal -->
	  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
	    Actualizar Contraseña
	  </button>
	</div>

          </div>
        </div>
      </div>
    </div>
   
</div>
{% endblock content %}
