{% extends "layout.html" %}
{% block content %}
<div class="card card-login mt-5 mb-5">
    <!--Card content-->
    <h4 class="card-title font-weight-bold text-center pb-3 blue text-white pt-4">Recuperar contraseña</h4>
    <div class="card-body">
      
      <form method="POST" action="">
        {{ form.hidden_tag()}}
          
        <label for="InputEmail">Email</label>
        {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
            {{ form.email(class="form-control mb-4") }}
        {% endif %}
    
        
    
      <div class="text-center mb-4"> 
          <button type="submit" class="btn btn-primary">Recuperar</button>
      </div>

      </form>
      
      <div class="border-top pt-3 text-center">
        <small class="text-muted">
           ¿No tienes una cuenta? <a class="ml-2" href="{{ url_for('register') }}">Regístrate</a>
        </small>
      </div>

    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="SuccessRegister" tabindex="-1" role="dialog" aria-labelledby="SuccessRegisterLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="SuccessRegisterLabel">¡Usuario Registrado!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Se ha registrado con exito
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
          </div>
        </div>
      </div>
    </div>



<!-- Modal -->
<div class="modal fade" id="recoverPassword" tabindex="-1" role="dialog" aria-labelledby="recoverPasswordLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="recoverPasswordLabel">Correo enviado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Se te ha enviado un correo de recuperación de contraseña.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='{{ url_for('home')}}'">Entendido</button>
      </div>
    </div>
  </div>
</div>
  {% endblock content %}
