{% extends "layout.html" %}
{% block content %}
<div class="card shadow card-profile">
        <div class="py-3 w-100 blue">
        </div>
        <div class="position-relative h-100">
            <div class="h-50 w-100 blue position-absolute text-white text-center">
            </div>
            <!-- Card image -->
            <div class="w-50 mx-auto position-relative ">
                <img class="card-img-top" src="../static/img/perfil.jpg" alt="Card image">
            </div>
            </div>
            <!-- Card body -->
            <div class="card-body text-center">
                <h5 class="card-title pt-2 pb-0 mb-2 font-weight-bold">Jim Trump</h5>
                <!-- Text -->
                <ul class="clear">
                    <li class="d-flex">
                    <span><i class="fas fa-envelope"></i>Correo: </span>
                    <span style="margin-left:5px">example@example.com</span>
                    </li>
    
                    <li class="d-flex">
                    <span><i class="fas fa-phone"></i> Teléfono: </span>
                    <span style="margin-left:5px">0412-632-8027</span>
                    </li>
                    <li class="d-flex">
                        <span><i class="fas fa-book-open"></i>Escuela: </span>
                        <span style="margin-left:5px">Computación</span>
                    </li>
                    <li class="d-flex">
                        <span><i class="fas fa-home"></i>Dirección: </span>
                        <span style="margin-left:5px">Cúa, edo miranda</span>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
            <div class="text-center">
		{% if role == "student" %}
                <button onclick="location.href='{{url_for('modifyProfile')}}'" type="button" class="btn btn-primary">Editar perfil</button>
		{% endif %}
                <button onclick="location.href='{{url_for('reserveHistorial')}}'" type="button" class="btn btn-secondary">Historial de reserva</button>

		{% if role == "admin" or role == "secretary" %}
                <!-- Modal suspender -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel2">Confirmación</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	      </div>
	      <div class="modal-body">
		¿Esta seguro que desea suspender al usuario?
	      </div>
	      <div class="modal-footer">
		<button onclick="location.href='{{url_for('home')}}'" type="button" class="btn btn-default" data-dismiss="modal">Suspender</button>
		<button onclick="#" type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="text-center mt-4 mb-4">
	  <!-- Button trigger modal -->
	  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal2">
	    Suspender
	  </button>
	</div>
		{% endif %}
            </div>
        </div>
</div>
{% endblock content %}
