{% extends "layout.html" %}
{% block content %}
<div class="card shadow card-profile">
        <div class="py-3 w-100 blue">
        </div>
        <div class="position-relative h-100">
            <div class="h-50 w-100 blue position-absolute text-white text-center">
            </div>
            <!-- Card image -->
            <div class="w-50 mx-auto position-relative ">
                {%if imagen in usr_data%}
                <img class="card-img-top avatar imagen" src="{{usr_data['imagen']}}" alt="Card image">
                {%else%}
                <img class="card-img-top avatar imagen" src="../static/img/avatar.png" alt="Card image">
                {%endif%}
            </div>
            </div>
            <!-- Card body -->
            <div class="card-body text-center">
                {%if usr_data['nombre'] != '' and usr_data['apellido'] != ''%}
                     <h5 class="card-title pt-0 pb-0 mb-2 font-weight-bold">{{usr_data['nombre']+' '+usr_data['apellido']}}</h5>
                {%else%}
                     <h5 class="card-title pt-0 pb-0 mb-2 font-weight-bold">Usuario</h5>
                {%endif%}
                <!-- Text -->
                <ul class="clear">
                    <li class="d-flex">
                    <span><i class="fas fa-envelope"></i> Nombre de usuario: </span>
                    <span style="margin-left:5px">{{usr_data['username']}}</span>
                    </li>
                    <li class="d-flex">
                    <span><i class="fas fa-envelope"></i> Correo: </span>
                    <span style="margin-left:5px">{{usr_data['email']}}</span>
                    </li>
                    <li class="d-flex">
                    <span><i class="fas fa-phone"></i> Teléfono: </span>
                    <span style="margin-left:5px">{{usr_data['telefono']}}</span>
                    </li>
                    <li class="d-flex">
                        <span><i class="fas fa-home"></i>Dirección: </span>
                        <span style="margin-left:5px">{{usr_data['direccion']}}</span>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
            <div class="text-center">
                <button onclick="location.href='{{url_for('modifyProfile')}}'" type="button" class="btn btn-primary">Editar perfil</button>
                <button onclick="location.href='{{url_for('reserveHistorial')}}'" type="button" class="btn btn-secondary">Historial de reserva</button>
            </div>
        </div>
</div>
{% endblock content %}
