<div class="card card-login mt-5 mb-5">
    <!--Card content-->
    <div class="card-body">
      <h4 class="card-title font-weight-bold text-center pb-3">Registro</h4>
      
      <label for="InputUsuario">Usuario</label>
      <input type="text" class="form-control mb-4" id="InputUsuario" placeholder="Usuario">
    
      <label for="InputEmail">Email</label>
      <input type="Email" class="form-control mb-4" id="InputEmail" placeholder="email@example.com"">
  
      <label for="InputPassword">Contraseña</label>
      <input type="password" class="form-control mb-4" id="InputPassword" placeholder="Contraseña">
  
      <label for="InputConfirmPassword">Confirmar</label>
      <input type="password" class="form-control mb-5" id="InputConfirmPassword" placeholder="Contraseña">
  
      <div class="text-center mb-4">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SuccessRegister">Registrar</button>  
      </div>
    </div>
  </div>


  <!-- Modal -->
<div class="modal fade" id="SuccessRegister" tabindex="-1" role="dialog" aria-labelledby="SuccessRegisterLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SuccessRegisterLabel">¡Usuario Registrado!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Se ha registrado con exito
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
        </div>
      </div>
    </div>
  </div>